baseURL = "https://elimbi.com/"
languageCode = "en-us"
title = "William Elimbi"
theme = "gokarna"
relativeURLs = true
canonifyURLs = false

[related]
  threshold = 80
  includeNewer = true
  toLower = true
  [[related.indices]]
    name = "tags"
    weight = 100
  [[related.indices]]
    name = "date"
    weight = 10

[params]
  showBackToTopButton = true
  description = "Self sovereign and self-hosting"
  dateFormat = "January 2, 2006"
  socialIcons = [
    {name = "twitter", url = "https://twitter.com/sepiropht"},
    {name = "email", url = "mailto:sepiropht@sepiropht.me"}
  ]
  metaKeywords = ["blog", "sepiropht", "self-hosting", "no-google"]
  showPostsOnHomePage = "recent"
  avatarURL = "/img/me.jpg"
  customHeadHtml = '''
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <script defer src="https://tubetotext.com/widget.js" data-api-key="ttw_4WxfIeb3v7CyEOn1l0z4d42bbPgmUVVZ"></script>
  '''
  customFooterHTML = '''
    <script>
      if (window.location.hostname !== 'localhost') {
        const script = document.createElement('script');
        script.src = 'https://analytics.sepiropht.me/script.js';
        script.defer = true;
        script.dataset.websiteId = 'd2ab5694-fea7-4132-aaa1-b7a43471cbb4';
        document.body.appendChild(script);
      }
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var userLang = navigator.language || navigator.userLanguage; 
        if (userLang && userLang.indexOf('fr') !== -1) {
          if (!window.location.pathname.startsWith('/fr/')) {
            window.location.href = '/fr' + window.location.pathname;
          }
        }
      });
    </script>
  '''

[languages]
  [languages.en]
    languageName = "English"
    weight = 1
    
    [languages.en.params]
      customParam = "someValue"
      anotherParam = "anotherValue"

   [[languages.en.menu.main]]
     name = "Home"
     pre = "<span data-feather='home'></span>"
     url = "/"
     weight = 1
    [[languages.en.menu.main]]
      identifier = "posts"
      pre = "<span data-feather='book'></span>"
      name = "Posts"
      url = "/posts/"
      weight = 1
    [[languages.en.menu.main]]
      identifier = "journal"
      pre = "<span data-feather='edit-3'></span>"
      name = "Thoughts"
      url = "/journal/"
      weight = 2
    [[languages.en.menu.main]]
      identifier = "books"
      pre = "<span data-feather='book-open'></span>"
      name = "Books"
      url = "/books/"
      weight = 3
    [[languages.en.menu.main]]
      identifier = "now"
      pre = "<span data-feather='clock'></span>"
      name = "Now"
      url = "/now/"
      weight = 4
    [[languages.en.menu.main]]
     identifier = "rss"
     pre = "<span data-feather='rss'></span>"
     url = "/index.xml"
     weight = 7

  [languages.fr]
    languageName = "Français"
    weight = 2
    
    [languages.fr.params]
      customParam = "uneValeur"
      anotherParam = "uneAutreValeur"

    [[languages.fr.menu.main]]
     name = "Accueil"
     pre = "<span data-feather='home'></span>"
     url = "/"
     weight = 1

    [[languages.fr.menu.main]]
      identifier = "posts"
      pre = "<span data-feather='book'></span>"
      name = "Articles"
      url = "/fr/posts/"
      weight = 1
    [[languages.fr.menu.main]]
      identifier = "journal"
      pre = "<span data-feather='edit-3'></span>"
      name = "Pensées"
      url = "/fr/journal/"
      weight = 2
    [[languages.fr.menu.main]]
      identifier = "books"
      pre = "<span data-feather='book-open'></span>"
      name = "Livres"
      url = "/fr/books/"
      weight = 3
    [[languages.fr.menu.main]]
      identifier = "now"
      pre = "<span data-feather='clock'></span>"
      name = "Now"
      url = "/fr/now/"
      weight = 4
    [[languages.fr.menu.main]]
     identifier = "rss"
     pre = "<span data-feather='rss'></span>"
     url = "/index.xml"
     weight = 7