<h2>Add Article</h2>
<form ng-submit="vm.addArticle()">
  <div class="form-group">

    <button type="submit" class="btn btn-default">Submit</button>
    <a class="btn btn-danger" href="/#categories"> Cancel</a>
  </div>

  <div class="form-group">
    <label>Article title</label>
    <input type="text" class="form-control" ng-model="vm.title" name="title"  placeholder="Enter title">
  </div>



  <div class="form-group">
    <label>Artice category</label>
    <select  class="form-control" ng-model="vm.category" name="category">
      <option ng-repeat="category in vm.categories" value="{{category.title}}"> {{category.title}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>body text</label>
    <textarea class="body-text" type="text" class="form-control" ng-model="vm.body" name="body" placeholder="Enter Article"><textarea>
  </div>



</form>
