{{ define "main" }}
    {{ if eq .Type "post" }}
        {{- partial "post.html" . -}}
        {{- partial "x-link.html" . -}}
        {{- partial "newsletter.html" . -}}
        {{- partial "related-posts.html" . -}}
        {{- partial "all-posts.html" . -}}
    {{ end }}

    {{ if eq .Type "page" }}
        {{- partial "page.html" . -}}
        {{- partial "toc.html" . -}}
    {{ end }}

    {{ if eq .Type "books" }}
        {{- partial "post.html" . -}}
        {{- partial "related-posts.html" . -}}
    {{ end }}
{{ end }}
