{{/* Pin posts listed in frontmatter `related` first, then fill with auto-related */}}
{{ $pinned := slice }}
{{ with .Params.related }}
    {{ range . }}
        {{ with $.Site.GetPage . }}
            {{ $pinned = $pinned | append . }}
        {{ end }}
    {{ end }}
{{ end }}
{{ $auto := .Site.RegularPages.Related . }}
{{ $related := $pinned | union $auto | first 5 }}
{{ $fallback := .Site.Params.avatarURL | default "/img/me.jpg" }}
{{ if $related }}
<div class="related-posts">
    <h3>{{ if eq .Language.Lang "fr" }}Articles similaires{{ else }}Similar Articles{{ end }}</h3>
    <ul class="related-posts-list">
        {{ range $related }}
        <li>
            <a href="{{ .RelPermalink }}" class="related-post-item">
                <div class="related-post-thumb" style="background-image: url('{{ with .Params.image }}{{ . }}{{ else }}{{ $fallback }}{{ end }}');"></div>
                <div class="related-post-content">
                    <h4>{{ .Title }}</h4>
                    <span class="related-post-date">{{ dateFormat "January 2, 2006" .Date }}</span>
                </div>
            </a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
