{{ define "main" }}
<section class="home-about">
	<div class="avatar">
        {{ if isset .Site.Params "avatarurl" }}
        <img class={{ .Site.Params.AvatarSize | default "size-m" }} src='{{ .Scratch.Get "avatarImgSrc" }}' alt="{{ .Site.Params.AvatarAltText|default "avatar" }}">
        {{ end }}
	</div>

    <h1>{{ .Site.Title }}</h1>
    {{ if isset .Site.Params "description" }}
        <h3>{{ .Site.Params.Description }}</h3>
    {{ end }}

</section>

<div class="flex-break"></div>

{{ if isset .Site.Params "socialicons" }}
<div class="social-icons">
    <ul class="social-icons-list">
        {{ range .Site.Params.SocialIcons }}
        <li class="social-icon">
            <a href="{{ .url }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} aria-label="Learn more on {{ .name }}">
                <img class="svg-inject" src="/svg/icons/{{ .name }}.svg" alt="">
            </a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}

{{ if os.FileExists "index-about.md" }}
<div class="markdown-content">
    {{ readFile "index-about.md" | markdownify }}
</div>
{{ end }}

<div class="home-posts list-posts">
    {{ $posts := where .Site.RegularPages "Params.type" "post" }}
    {{ range $posts.GroupByDate "2006" }}
        <h2 class="post-year">{{ .Key }}</h2>
        {{ range .Pages.ByDate.Reverse }}
            {{- partial "list-posts.html" . -}}
        {{ end }}
    {{ end }}
</div>
{{ end }}
